* {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 100%;
}

.row {
    margin: 0;
}

.text-align {
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
}

h4 {
    padding: 15px 0 15px 0;
}

label {
    display: block;
}

ul {
    list-style: none;
}

.form-control {
    width: 100%;
}

.form-inline .form-control {
    width: 50%;
}

.separator {
    height: 50px;
}

.navbar {
    background-color: black;
    margin-bottom: 120px;
}

.navbar-nav > li > a {
    color: white;
    font-size: 1.25em;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:active {
    background-color: transparent;
    color: grey;
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: black;
}

.oauth {
    text-align: center;
    padding-top: 25px;
}

#user-name {
    font-size: 1.5em;
}

.btn-submit {
    margin-top: 25px;
}

.btn-remove {
    border: none;
    background: none;
    float: right;
}

.heading {
    height: 75px;
    width: 100%;
}

.btn-submit {
    width: 100%;
    margin-top: 25px;
    background-color: black;
    color: white;
}

.fa .fa-shopping-cart .white {
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.column1, .column2 {
    width: 500px;
    float: left;
    margin: 1%;
    clear:both;
}

.column2 {
    margin-right: 0%;
}

.content {
    overflow: auto;
    height: 100%;
}

