* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0px;
}

.container {
  width: 100%;
}

.row {
  margin: 0;
}

.text-align {
  text-align: center;
}

h4 {
  padding: 15px 0 15px 0;
}

label {
  display: block;
}

.form-control {
  width: 100%;
}

.navbar {
  background-color: black;
  margin-bottom: 120px;
}

.navbar-nav>li>a {
  color: white;
  font-size: 1.25em;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active {
  background-color: transparent;
  color: grey;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: black;
}

.oauth {
  text-align: center;
  padding-top: 25px;
}

#user-name {
  font-size: 1.5em;
}

.btn-submit {
  margin-top: 25px;
}

.btn-remove {
  border: none;
  background: none;
  float: right;
}

.heading {
  height: 75px;
  width: 100%;
}

.btn-submit {
  width: 100%;
  margin-top: 25px;
  background-color: black;
  color: white;
}

